/*--- Genrelle indstillinger---*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

h1 {

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3rem;
}


h2 {

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;

}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    color: black;
    text-transform: uppercase;

}

h4 {

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;


}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;

}

a {
    font-family: 'Source Sans Pro', sans-serif;
}

/*---Generelle indstillinger  SLUT ---*/

/*--- fælles designregler for alle sektioner ---*/

section {
    padding: 0 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.sectionwrapper {
    margin-top: 0;
}

/*--- fælles designregler for alle sektioner SLUT ---*/

/*---Header - Logo---*/
.logo {
    height: 4vw;
    width: 10vw;
    background-size: cover;
    position: absolute;
    top: 1vw;
    left: 1vw;
}

/*---Header - burgermenu---*/

.hidden {
    display: none;
    /*    transform: scale(0);*/
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
    color: #ffec00;
    margin: 0.5rem;
    font-family: 'Source Sans Pro', sans-serif;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    width: 100%;
}

header {
    width: 100%;
    color: white;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
}

header nav a {
    font-weight: bold;
    color: #ffec00;
    text-decoration: none;
    font-size: 1.5rem;
}


header nav a:hover {
    text-decoration: line-through;
}

header li {
    text-align: center;
}

@media only screen and (min-width: 600px) {

    #menu {
        text-align: end;
    }

    #menuknap {
        display: none;
    }

    .hidden {
        transform: translateX(0);
        opacity: 1;
        display: inline-block;
    }

    header li {
        display: inline-block;
        padding-right: 1rem;
    }

    header nav {
        padding: 1rem;
    }
}

/*---Header - burgermenu SLUT---*/
/*--- Footer ---*/
footer {
    text-align: center;
    border-top: 0.5rem solid #ffec00;
}

footer .some {}

/*--- Footer -  SLUT---*/

/*--- Splash ---*/
#splash {
    width: 100vw;
    height: 100vh;
    background-image: url();
    background-size: cover;
    background-position: 67% 10%;
    max-width: none;
}

.splash_txt {
    position: absolute;
    text-align: left;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: #ffec00;
}

#om_splash {
    width: 100vw;
    height: 100vh;
    background-image: url();
    background-size: cover;
    background-position: 67% 10%;
    max-width: none;
}

/*--- Splash SLUT ---*/

/*--- Forside - Om ---*/

#om {
    border-top: solid 0.8rem #ffec00;
    border-right: solid 0.8rem #ffec00;
}

#om .col {
    padding-top: 1rem;
    padding-left: 4rem;
    padding-right: 3rem;
}

#om a {
    text-decoration: none;
    color: black;
}

#om a:hover {
    color: #ffec00;
}

/*--- Forside - Om slut ---*/

/*--- Forside - Udvalgte projekter---*/
/*--- Forside - Udvalgte projekter - slut ---*/

/*--- Om - hvem er jeg? ---*/
#om_mig {}

#om_mig .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#om_mig .col {
    flex-basis: 400px;
    flex-grow: 1;
    padding: 0 0.5rem;
}

/*--- Om - hvem er jeg? - SLUT ---*/
